[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
aiohttp = "*"
"flake8" = "*"
pytest-asyncio = "*"
codecov = "*"
coverage = "*"
black = "==19.10b0"
sphinx = "*"
urouter = {editable = true,path = "."}
starlette = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
